so the requirements are as follows

1)connect the python to firebase
done by installing the private key

2)fetch the list of students given year dept and section

3)run a http server using flask in local host
a)activated the venev by first installing venev
b)python3 -m virtualenv venv
c)source venev/bin/activate
d)activate the venv by clicking command shift p and selcting the interpreter as a venev

4)display the list of students in the html page

5)generate the uuids for the class given a the class input

5)and later write a post method in flask to to dynamically update the list of students
6)check connection of flutter apps with python server

